body {
    background-color: #F7F7F7;
}



/* TABS */
.custom-tabs-container {
    padding-bottom: 0px;
    background-color: #D8E1E8;
    border-radius: 75px;
    height: 15px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.custom-tab--selected {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none !important;
    border-bottom: none !important;
    background-color: #D8E1E8;
    border-radius: 15px;
    height: 15px;

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* RANGE SLIDER */
.range-slider .rc-slider-track {
    background-color: #16425D;
}

/* BUTTON */
.centered-button {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-family: ubuntu;
    background-color: #16425D;
    color: white;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

}

.modal-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 8px;
    width: fit-content;
}